.DS_Store
/Approach_1/AIC_Regression/Data/BGRI21_CONT/BGRI21_CONT.gpkg
/Approach_1/AIC_Regression/Data/BGRI_2011/BGRI2011_PT_2.csv
/Approach_1/AIC_Regression/Data/BGRI_2011/CONTINENTE/BGRI11_CONT.shp
/Approach_1/AIC_Regression/Data/CAOP_2022/Cont_AAD_CAOP2022.shp