access @ file:///home/conda/feedstock_root/build_artifacts/access_1659357695203/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1650975715775/work
anyio==3.6.2
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1684150194880/work
asttokens==2.2.1
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1676985229141/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.11.2
bleach==6.0.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1677499911949/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1675196722997/work
cachy @ file:///home/conda/feedstock_root/build_artifacts/cachy_1664983268779/work
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1679098372036/work
certifi==2023.5.7
cffi==1.15.1
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1666833969769/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
click-default-group @ file:///home/conda/feedstock_root/build_artifacts/click-default-group_1618938707830/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1676917709145/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1664843244467/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1679481329611/work
conda==23.3.1
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_lock @ file:///home/conda/feedstock_root/build_artifacts/conda-lock_1676925627812/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1669733752472/work
configparser==5.3.0
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1675710006446/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633784416/work
copilot==0.1.9
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1681508724866/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
daal4py==2023.1.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1683908660643/work
datacompy @ file:///home/conda/feedstock_root/build_artifacts/datacompy_1683840869945/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1675374858277/work
datashape==0.5.4
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1680755647138/work
decorator==5.1.1
defusedxml==0.7.1
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
descartes==1.1.0
descripstats==0.0.2
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1684324375499/work
ensureconda @ file:///home/conda/feedstock_root/build_artifacts/ensureconda_1657719435160/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
esda @ file:///home/conda/feedstock_root/build_artifacts/esda_1660931045600/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
executing==1.2.0
fastjsonschema==2.16.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1681839547898/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1684320556058/work
Flask==2.2.2
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1684084314667/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1670956290671/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1683740642345/work
fqdn==1.5.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1683494881189/work
GDAL @ file:///Users/runner/miniforge3/conda-bld/gdal-split_1683981656397/work/build/swig/python
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1683384012847/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1668350868373/work
geotable==0.4.2.8
geoviews @ file:///home/conda/feedstock_root/build_artifacts/geoviews-core_1673965884429/work
giddy @ file:///home/conda/feedstock_root/build_artifacts/giddy_1677871946892/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython==3.1.27
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808859877/work
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1683797800579/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hvplot @ file:///home/conda/feedstock_root/build_artifacts/hvplot_1679061159667/work
idna==3.4
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
inequality==1.0.0
invisibleroads-macros==0.9.5.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1684162997309/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1683226209954/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1680023138361/work
isoduration==20.11.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1675033873689/work
itsdangerous==2.1.2
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1667024629799/work
jedi==0.18.2
Jinja2==3.1.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1632759296524/work
jsonpointer==2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1678118109161/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1673559782596/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1682370147108/work/jupyter-lsp
jupyter-server-mathjax @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-mathjax_1672324512570/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1678994447003/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1679073341944/work
jupyter_server_terminals==0.4.4
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1684185798726/work
jupyterlab-git==0.39.2
jupyterlab-github==3.0.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1684239754370/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1681424698040/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1671728333542/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805932507/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1672877889054/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791344629/work/libmambapy
libpysal @ file:///home/conda/feedstock_root/build_artifacts/libpysal_1668782270408/work
littleutils==0.2.2
llvmlite==0.40.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lockfile==0.12.2
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1671013564058/work
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1680791344629/work/mamba
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1673861555770/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
MarkupSafe==2.1.2
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1678135628784/work
matplotlib-inline==0.1.6
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1619028378680/work
mgwr @ file:///home/conda/feedstock_root/build_artifacts/mgwr_1599671096782/work
mistune==2.0.5
mizani @ file:///home/conda/feedstock_root/build_artifacts/mizani_1684517135670/work
momepy @ file:///home/conda/feedstock_root/build_artifacts/momepy_1683010956529/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1677514956219/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312797715/work
multipledispatch==0.6.0
munch @ file:///home/conda/feedstock_root/build_artifacts/munch_1684150905574/work
munkres==1.1.4
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1683202081046/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1684790896106/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1683636231832/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1682876851950/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1679336765223/work
nest-asyncio==1.5.6
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1678981646396/work
netifaces==0.11.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1680870634737/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1684476663311/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1682210335476/work
onedrivesdk==2.0.1
openpyxl @ file:///Users/runner/miniforge3/conda-bld/openpyxl_1682610931327/work
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
osmnx @ file:///home/conda/feedstock_root/build_artifacts/osmnx_1672590872572/work
outdated @ file:///home/conda/feedstock_root/build_artifacts/outdated_1667391529811/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
palettable @ file:///home/conda/feedstock_root/build_artifacts/palettable_1682018334297/work
pandas==2.0.1
pandas-flavor==0.2.0
pandocfilters==1.5.0
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1677891341796/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1678790747312/work
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
pastel @ file:///home/conda/feedstock_root/build_artifacts/pastel_1640899049124/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1684654215371/work
pingouin @ file:///home/conda/feedstock_root/build_artifacts/pingouin_1672372575568/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1683850015520/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1680731398751/work
plotnine @ file:///home/conda/feedstock_root/build_artifacts/plotnine_1683654432128/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
ply==3.11
pointpats @ file:///home/conda/feedstock_root/build_artifacts/pointpats_1678201881705/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prince==0.7.1
prometheus-client==0.16.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775164927/work
ptyprocess==0.7.0
PuLP @ file:///Users/runner/miniforge3/conda-bld/pulp_1667483183522/work
pure-eval==0.2.2
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1666836580084/work
pycparser==2.21
pyct==0.4.6
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1684880561136/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pylev @ file:///home/conda/feedstock_root/build_artifacts/pylev_1641226376343/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1683397482155/work
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1682022426475/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1681824967134/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1681878600259/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1680062091113/work
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.19.3
pysal @ file:///home/conda/feedstock_root/build_artifacts/pysal_1675185989141/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.8.2
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1661341338467/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1679317044518/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1683329453903/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1680148448366/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1655746571862/work
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1684815604803/work
rasterstats @ file:///home/conda/feedstock_root/build_artifacts/rasterstats_1658854667468/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
researchpy==0.3.5
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1666813351022/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1683692217563/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412871362/work
scandir==1.10.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1679676035492/work
scikit-learn-intelex==20230426.135248
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1683900476145/work/base/dist/scipy-1.10.1-cp310-cp310-macosx_10_9_x86_64.whl#sha256=41c2cc9c80896b9ecfa09db5a5cf89e82163e54035a4d90012597edc8a925f5f
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
segregation @ file:///home/conda/feedstock_root/build_artifacts/segregation_1683209383960/work
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1682601407921/work
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1679081738093/work
simplejson @ file:///Users/runner/miniforge3/conda-bld/simplejson_1681125675610/work
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1681995188501/work
six==1.16.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio==1.3.0
snuggs==1.4.7
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spaghetti @ file:///home/conda/feedstock_root/build_artifacts/spaghetti_1673974750166/work
spglm @ file:///home/conda/feedstock_root/build_artifacts/spglm_1599674431915/work
spint @ file:///home/conda/feedstock_root/build_artifacts/spint_1612437640828/work
splot @ file:///home/conda/feedstock_root/build_artifacts/splot_1649898658322/work
spopt @ file:///home/conda/feedstock_root/build_artifacts/spopt_1673675643015/work
spreg @ file:///home/conda/feedstock_root/build_artifacts/spreg_1680963565981/work
spvcm==0.3.0
stack-data==0.6.2
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1683305751254/work
sweetviz==2.1.4
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tableone==0.8.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
terminado==0.17.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2==1.2.1
tobler @ file:///home/conda/feedstock_root/build_artifacts/tobler_1683749328229/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150243998/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets==5.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1684927677879/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
umap-learn @ file:///Users/runner/miniforge3/conda-bld/umap-learn_1684537446181/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239910854/work
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1683161174614/work
utm==0.7.0
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1682674264573/work
watermark @ file:///home/conda/feedstock_root/build_artifacts/watermark_1653953225459/work
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1684708148666/work
Werkzeug==2.2.2
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1680021576815/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1677485616281/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1684536552446/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1684571362432/work
yellowbrick @ file:///home/conda/feedstock_root/build_artifacts/yellowbrick_1661212213188/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
zstandard==0.19.0
